body,
               html {
                background: #f5f5f5;
                width: 100vw;
                height:100vh;
                margin: 0;
                padding: 0;
 position: fixed;
            }

            canvas {
               position: fixed;
                -ms-interpolation-mode: nearest-neighbor;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: -webkit-crisp-edges;
                image-rendering: -moz-crisp-edges;
                image-rendering: -o-crisp-edges;
                image-rendering: pixelated;
            }
